<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- Font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Style -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <div class="container" :class="{darkmode: darkMode === true}">
            <!-- Left column -->
            <div class="left">
                <!-- Left header -->
                <div class="left-header user-card">
                    <!-- User profile -->
                    <div class="user-pic">
                        <img :src="user.defaultAvatar" alt="Avatar" :class="{darkmode: darkMode === true}">
                    </div>
                    <span class="user-name">{{ user.name }}</span>
                    <!-- /User profile -->
                    <!-- Icons -->
                    <ul class="icons">
                        <li>
                            <i class="fa-solid fa-circle-notch"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-message"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-circle-half-stroke" @click="changeMode()"></i>
                        </li>
                    </ul>
                    <!-- /Icons -->
                </div>
                <!-- /Left header -->
                <!-- Banner -->
                <div class="user-card bell">
                    <div class="user-pic">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        Ricevi notifiche di nuovi messaggi
                        <br>
                        <a href="#">
                            Attiva notifiche desktop
                        </a>
                    </div>
                </div>
                <!-- /Banner -->
                <!-- User search -->
                <div class="user-input">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="user-search" v-model="keyContact"
                        placeholder="Cerca o inizia una nuova chat" id="search">
                </div>
                <!-- /User search -->
                <!-- Users list -->
                <div class="users-container">
                    <div v-for="(contact, index, status) in filteredContacts()" class="user-card"
                        :class="{active: currentIndex === index}" @click="selectUser(index)">
                        <div class="user-pic">
                            <img :src="contact.avatar" :alt="contact.name" :class="{darkmode: darkMode === true}">
                        </div>
                        <div>
                            <div class="user-name">{{ contact.name }}</div>
                            <span class="last-message">{{ getLastMessage(contact) }}</span>
                        </div>
                        <span class="last-access">{{ getLastDate(contact) }}</span>
                    </div>
                </div>
                <!-- /Users list -->
            </div>
            <!-- /Left column -->

            <!-- Right column -->
            <div class="right">
                <!-- Right header -->
                <div class="right-header">
                    <div v-if="filteredContacts().length === 0" class="current-user">
                        <div class="user-pic">
                            <img :src="user.defaultAvatar" alt="Avatar" :class="{darkmode: darkMode === true}">
                        </div>
                    </div>
                    <div v-else class="current-user">
                        <div class="user-pic">
                            <img :src="filteredContacts()[currentIndex].avatar"
                                alt="filteredContacts()[currentIndex].name" :class="{darkmode: darkMode === true}">
                        </div>
                        <div>
                            <h4>{{ filteredContacts()[currentIndex].name }}</h4>
                            <span class="last-message">Ultimo accesso oggi alle 12.00</span>
                        </div>
                    </div>
                    <ul class="icons">
                        <li>
                            <i class="fa-solid fa-circle-notch"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-paperclip"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>
                <!-- /Right header -->
                <!-- Right Main -->
                <div v-if="filteredContacts().length === 0" class="right-main"></div>
                <div v-else class="right-main">
                    <!-- Messages -->
                    <div v-for="(message, status) in contacts[currentIndex].messages" class="message"
                        :class="message.status === 'received' ? 'received' : 'sent'">
                        <span class="message-text">{{ message.message }}</span>
                        <span class="message-time">{{ message.date }}</span>
                        <div class="dropdown">
                            <i class="fa-solid fa-chevron-down drop"></i>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href="#">Message info</a>
                                    </li>
                                    <li>
                                        <a href="#" @click="deleteMessage(message)">Delete message</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Messages -->
                </div>
                <!-- /Right Main -->
                <!-- Right footer -->
                <div class="right-footer">
                    <div class="icon">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input v-model="newMessage" @keydown.enter="sendMessage()" type="text"
                        placeholder="Scrivi un messaggio" id="message-input">
                    <div class="icon">
                        <i class="fa-solid fa-microphone" v-if="newMessage === null"></i>
                        <i class="fa-solid fa-paper-plane" @click="sendMessage()" v-else></i>
                    </div>
                </div>
                <!-- /Right footer -->
            </div>
            <!-- /Right column -->
        </div>
    </div>

    <!-- Vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Vue js -->
    <!-- Luxon script -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- /Luxon script -->
    <!-- My script -->
    <script src="./js/main.js"></script>
    <!--/ My script -->
</body>

</html>